
body {
    font-family: 'Noto Serif SC', serif;
    background-color: #C6C1BB;
}

main {
    background: #FEFAFB;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
  }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #7E7966;
    margin: 1em 0;
    padding: 0;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#FEFAFB), to(#FEFAFB), color-stop(50%, #7E7966));
}
h1 {
    font-size: 3em;
    color: #7E7966;
    letter-spacing: 2px;
    text-align: center;

}

h2 {
    font-size:2em;
    color: #333331;
    text-align: center;
    padding-bottom: 30px;
}

.oneven {
    display: flex;
    flex-direction: row;
    padding: 20px;

}

.even {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}

.oneven h2, .even h2 {
    font color: #7E7966;
}

.oneven p, .even p {
    font color: #333331;

}

.oneven img, .even img {
    position: relative;
    min-width: 300px;
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
    padding: 20px;
}





@media screen and (max-width: 800px) {

    .oneven, .even {
        flex-direction: column;
        display: block;
        margin: 0 auto;
        
    }

}
