body {
    font-family: 'Noto Serif SC', serif;
    background-color: #C6C1BB;
    text-align: center;
}

main {
    background: #FEFAFB;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
  }

hr {
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#FEFAFB), to(#FEFAFB), color-stop(50%, #7E7966));

}
form {
    margin: 2rem auto;
    width: 50%;
    min-width: 15rem;
    padding: 1rem;

 }

.comment {
    margin: 1rem auto;
    max-width: 50%;
    min-width: 15rem;
    padding-bottom: 50px;
 }
 .formSection {
    margin-top: 1rem;
    margin-bottom: 2rem;
 }
    
}
input, textarea {
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #999;
    min-height: 2rem;
    font-size: 1.2rem;

}

textarea {
    vertical-align: top;
    height: 5rem;
}

h1 {
    font-size: 3em;
    color: #7E7966;
    letter-spacing: 2px;
}

h2 {
    font-size:2em;
    color: #333331;
    padding-bottom: 30px;
}

.oneven {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;

}
.oneven img {
    position: relative;
    min-width: px;
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
    padding: 20px;
}

@media screen and (max-width: 800px) {

    .oneven {
        flex-direction: column;
        display: block;
        margin: 0 auto;
        
    }

}