body {
    font-family: 'Quicksand', sans-serif;
    font color: #333331;
    background-color: #FEFAFB;

}

h1 {
    font-size: 3em;

}

img {
    position: relative;
    min-width: 320px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px;
    padding: 20px;
}


